/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 3/04/2018, 10:56:14 AM
    Author     : leolp
*/

.button {
    -fx-background-color: #40a2ff;
    -fx-background-insets: 0,1,2,0;
    -fx-background-radius: 30;  
    -fx-graphic-text-gap: 10;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Arial";
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-padding: 0;

}


.button Text {
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.9) , 1, 0.0 , 0 , 1 );
}

.button:hover{
    -fx-background-color: #c8d6f0;
    -fx-text-fill:#3b5b95;
}



